@import url(bootstrap.css)

a
    text-decoration: none

header
    h1
        color: white
    nav
        a
            font-size: 20px

.section-accueil
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    .card
        margin-left: 0.3rem
        margin-right: 0.3rem
        margin-top: 3rem
        .card-body
            padding-left: 1rem
            padding-right: 1rem
