{% extends "base.jinja" %}
{% block contenu %}
    <section class="section-authentification">
        <h2 class="my-3">Authentification</h2>
        <form action="/compte/authentifier" method="post" class="w-50" novalidate>
            <div class="row">
                <div class="col">
                    <div class="style-input">
                        <label for="txtnom">Adresse courriel</label>
                        <input type="email" name="courriel" id="courriel" value="{{ courriel }}" class="{{ classe_courriel}} form-control"/>
                    </div>
                    <div class="style-input">
                        <label for="mdp">Mot de passe</label>
                        <input type="password" name="mdp"id="mdp" class="{{ classe_mdp }} form-control"/>
                    </div>
                    <div class="invalid-feedback">
                        <p>{{ texte_invalide }}</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="button btn-primary mb-3" value="Se connecter">
            </div>

        </form>

    </section>



{% endblock %}
