{% macro afficher_enchere(enchere) %}
    <div class="card text-center card-enchere" style="width: 20rem;">
        {% if enchere.est_supprimee %}
            <div class="card-header enchere-inactive">
                <h5>{{ enchere.titre }}</h5>
                <p>Supprimée</p>
            </div>
        {% elif enchere.est_active %}
            <div class="card-header">
                <h5>{{ enchere.titre }}</h5>
            </div>
        {% else %}
            <div class="card-header enchere-inactive">
                <h5>{{ enchere.titre }}</h5>
                <p>Inactive</p>
            </div>
        {% endif %}
        <div class="card-body">
            <img src="https://picsum.photos/seed/{{ enchere.id_enchere }}/300/300" class="card-img" alt="Image pour l'enchère {{ enchere.titre }}">
            <p class="card-text my-3">{{ enchere.description }}</p>
        </div>
        {% if enchere.est_supprimee%}
            <div class="card-footer enchere-inactive">
                <p>Date limite : {{ enchere.date_limite }}</p>
                <a href="/encheres/{{ enchere.id_enchere }}" class="card-link stretched-link">Voir cette enchère</a>
            </div>
        {% elif enchere.est_active %}
            <div class="card-footer">
                <p>Date limite : {{ enchere.date_limite }}</p>
                <a href="/encheres/{{ enchere.id_enchere }}" class="card-link stretched-link">Voir cette enchère</a>
            </div>
        {% else %}
            <div class="card-footer enchere-inactive">
                <p>Date limite : {{ enchere.date_limite }}</p>
                <a href="/encheres/{{ enchere.id_enchere }}" class="card-link stretched-link">Voir cette enchère</a>
            </div>
        {% endif %}

    </div>
{% endmacro %}

{% macro afficher_enchere_utilisateur(enchere) %}
    <div class="card text-center card-enchere" style="width: 20rem;">
        {% if enchere.est_supprimee %}
            <div class="card-header enchere-inactive">
                <h5>{{ enchere.titre }}</h5>
                <p> Supprimée par un administrateur</p>
            </div>
        {% elif enchere.est_active %}
            <div class="card-header">
                <h5>{{ enchere.titre }}</h5>
                <p>Active</p>
            </div>
        {% else %}
            <div class="card-header enchere-inactive">
                <h5>{{ enchere.titre }}</h5>
                <p>Inactive</p>
            </div>
        {% endif %}
        <div class="card-body">
            <img src="https://picsum.photos/seed/{{ enchere.id_enchere }}/300/300" class="card-img" alt="Image pour l'enchère {{ enchere.titre }}">
        </div>
        <div class="card-body">
            {% if enchere.mise_max %}
                {% if enchere.est_active %}
                    <p>Meilleure mise : {{ enchere.mise_max }}$</p>
                    <p>Par {{ enchere.acheteur }}</p>
                {% else %}
                    <p>Vendu pour : {{ enchere.mise_max }}$</p>
                    <p>À {{ enchere.acheteur }}</p>
                {% endif %}
            {% else %}
                {% if enchere.est_active %}
                    <p>Aucune mise placée</p>
                {% else %}
                    <p>L'item n'a pas été acheté</p>
                {% endif %}
            {% endif %}
        </div>
        {% if enchere.est_supprimee %}
            <div class="card-footer enchere-inactive">
            <p>Date limite : {{ enchere.date_limite }}</p>
        </div>
        {% elif enchere.est_active %}
            <div class="card-footer">
                <p>Date limite : {{ enchere.date_limite }}</p>
                <a href="/encheres/{{ enchere.id_enchere }}" class="card-link stretched-link">Voir cette enchère</a>
            </div>
        {% else %}
            <div class="card-footer enchere-inactive">
                <p>Date limite : {{ enchere.date_limite }}</p>
                <a href="/encheres/{{ enchere.id_enchere }}" class="card-link stretched-link">Voir cette enchère</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}
{% macro afficher_mises_utilisateur(mise) %}
     <div class="card text-center card-enchere" style="width: 20rem;">
        {% if mise.est_active %}
            <div class="card-header">
                <h5>{{ mise.titre }}</h5>
            </div>
        {% else %}
            <div class="card-header enchere-inactive">
                <h5>{{ mise.titre }}</h5>
                <p>Inactive</p>
            </div>
        {% endif %}
        <div class="card-body">
            <img src="https://picsum.photos/seed/{{ mise.id_enchere }}/300/300" class="card-img mb-3" alt="Image pour l'enchère {{ mise.titre }}">
            {% if mise.enchere_leader %}
                {% if mise.est_active %}
                    <p>Vous menez cette enchère</p>
                    <p>Votre mise est de {{ mise.montant }}$</p>
                {% else %}
                    <p>Vous avez gagner cette enchère</p>
                    <p>Votre mise était de {{ mise.montant }}$</p>
                {% endif %}
            {% else %}
                {% if mise.est_active %}
                    <p>Vous ne menez pas cette enchère</p>
                    <p>La plus grande mise est de {{ mise.montant_max }}$</p>
                {% else %}
                    <p>Vous n'avez pas gagné cette enchère</p>
                    <p>L'item s'est vendu pour {{ mise.montant_max }}$</p>
                {% endif %}
            {% endif %}
        </div>
        {% if mise.est_active %}
            <div class="card-footer">
                <p>Date limite : {{ mise.date_limite }}</p>
                <a href="/encheres/{{ mise.id_enchere }}" class="card-link stretched-link">Voir cette enchère</a>
            </div>
        {% else %}
            <div class="card-footer enchere-inactive">
                <p>Date limite : {{ mise.date_limite }}</p>
                <a href="/encheres/{{ mise.id_enchere }}" class="card-link stretched-link">Voir cette enchère</a>
            </div>
        {% endif %}
    </div>
{% endmacro %}