{% extends "base.jinja" %}
{% block contenu %}
    <section class="section-creer">
        <h2 class="my-5">Création d'un compte</h2>
        <form action="/compte/creer" method="post" class="w-50" novalidate>
            <div class="row">
                <div class="col">
                    <label for="email">Courriel</label>
                    <input type="email" name="courriel" id="courriel" value="{{ email }}" class="form-control">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom" id="nom" value="{{ nom }}" class="form-control">
                </div>
                <div class="col">
                    <label for="mdp">Mot de passe</label>
                    <input class="{{ classe_mdp }} form-control" type="password" name="mdp" id="mdp">
                    <label for="mdp2">Confirmer le mot de passe</label>
                    <input class="{{ classe_mdp }} form-control" type="password" name="mdp2" id="mdp2">
                </div>
            </div>
            <div class="invalid-feedback">{{ texte_invalide }}</div>
            <input type="submit" class="button btn-primary my-3" value="Créer le compte">
        </form>
    </section>
{% endblock %}