{% extends "base.jinja" %}
{% block contenu %}
    <section class="section-details row">
        <div class="col-md">
            <img src="https://picsum.photos/seed/{{ enchere.id_enchere }}/300/300" alt="Image pour l'enchère {{ enchere.titre }}">
        </div>
        <div class="p-4 col">
            <h2>{{ enchere.titre }}</h2>
            <p>{{ enchere.description }}</p>
            <p>Date limite : {{ enchere.date_limite }}</p>
            {% if enchere.est_active%}
                <p><i><strong>(Active)</strong></i></p>
            {% else %}
                <p>(Inactive)</p>
            {% endif %}
            {% if enchere.mise_max %}
                {% if  enchere.est_active %}
                    <h3>Mise la plus haute pour cette enchère : {{ enchere.mise_max }}$</h3>
                    {% if session and enchere.fk_vendeur == session.utilisateur.id_utilisateur %}
                        <p>La mise a été fait par {{ enchere.miseur }}</p>
                    {% endif %}
                {% else %}
                    <h3>L'item s'est vendu pour : {{ enchere.mise_max }}$</h3>
                    {% if session and enchere.fk_vendeur == session.utilisateur.id_utilisateur %}
                        <p>L'item a été acheté par {{ enchere.miseur }}</p>
                    {% endif %}
                {% endif %}

            {% else %}
                {% if enchere.est_active %}
                    <h3>Aucune mise sur cette enchère</h3>
                {% else %}
                    <h3>Cet item ne s'est pas vendu</h3>
                {% endif %}
            {% endif %}
            {% if session and session.utilisateur and enchere.est_active and enchere.fk_vendeur != session.utilisateur.id_utilisateur%}
                <form action="/encheres/{{ enchere.id_enchere }}/miser" method="POST" novalidate>
                    <div class="d-flex">
                        <div class="mt-1">
                            {% if enchere.mise_max %}
                                <input class="{{ classe_mise }}" type="number" min="{{ enchere.mise_max }}" name="txt_mise" id="txt_mise" placeholder="Entrez votre mise">
                                <div class="invalid-feedback">{{ texte_erreur_mise }}</div>
                            {% else %}
                                <input class="{{ classe_mise }}" type="number" min="0" name="txt_mise" id="txt_mise" placeholder="Entrez votre mise">
                                <div class="invalid-feedback">{{ texte_erreur_mise }}</div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary mx-3">Miser</button>
                    </div>
                </form>
            {% elif enchere.est_active and not session.utilisateur %}
                <p>Pour miser, veuillez <a href="/compte/authentifier">vous connecter</a></p>
            {% endif %}
            {% if session and session.utilisateur.est_admin %}
                {% if enchere.est_supprimee %}
                    <form method="post" action="/encheres/{{ enchere.id_enchere }}/supprimer">
                        <button type="submit" class="btn btn-primary my-3">Annuler la suppression</button>
                    </form>
                {% else %}
                    <form method="post" action="/encheres/{{ enchere.id_enchere }}/supprimer">
                        <button type="submit" class="btn btn-primary my-3">Supprimer l'enchère</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}