{% extends "base.jinja" %}
{% block scripts %}
<script src="/static/js/accueil.js" defer></script>
<script src="/static/js/utils-ajax.js" defer></script>
{% endblock %}
{% from 'card-enchere.jinja' import afficher_enchere %}
{% block contenu %}
    <section>
        <div class="text-center">
            <h1 class="my-3">Le royaume des enchères</h1>
            <p><strong><i>Peu importe ce que vous voulez, vous trouverez!</i></strong></p>
        </div>
        <div class="section-accueil">
            <ul id="section-encheres">

            </ul>
        </div>
    </section>
{% endblock %}